$white: #fefefe;

$navbar-light-color: $white;
$navbar-light-brand-color: $white;
$headings-color: $white;
$light: #0d1b2a;
$dark: #1b263b;
$primary: #1f5491;
$secondary: #9ba1a7;
$info: #d4e6f2;
$success: #44ae6f;
$warning: #e6ce40;
$danger: #f42524;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

//Tech Stack
.tech-stack {
    &__col {
        transition: all 0.33s ease;
    }
    &__title {
        padding: 0.5em 1.5em;
        border-radius: 15px;
    }
    &__col:hover &__title {
        backdrop-filter: blur(15px);
        background-color: #030e30ba;
        color: #ddd;
    }
}

// Scrollbar

*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background-color: #dfdfdf;
    border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: #676767;
}
